[Unit]
Description=logtubed service
After=network.target
Documentation=https://github.com/logtube/logtubed

[Service]
User=logtubed
Group=logtubed
ExecStart=/usr/bin/logtubed
Type=notify
Restart=on-failure

[Install]
WantedBy=multi-user.target
